<div class="container">
    
    <div class="jumbotron">
        <h3><img src="~/imagens/servico-de-call-center.png" alt="Fale Conosco" />Queremos saber sua opinião</h3>
        <p>Se voce tiver alguma duvida ou sugestao fale conosco</p>
    </div>
    <p>
        <span>
            <img src="~/imagens/envelope.png" />
        </span>
        <h5><email endereco="victorbiguete@toledoprudente.edu.br" conteudo="Enviar um email"></email></h5>
        <br />
        <span>
            <img src="~/imagens/phone-call.png" />
        </span>
        <h5>(18) 3901-4000</h5>
        <br/>
        <span>
            <img src="~/imagens/botao-home (1).png" />
        </span>
        <h5>R. Alvino Gomes Teixeira, 340 - Vila Furquim, Pres. Prudente - SP, 19033-000</h5>
    </p>
</div>