@model FilmeListViewModel

    <div>
        <h2>@Model.Categoria</h2>
    </div>
    <div class="container">
        <div class="row">
            @foreach(var filmes in Model.Filmes)
            {
                @if(filmes.Status==true)
                {
                    @*<div class="col-sm-4 col-md-4 col-lg-4 align-items-center justify-content-center ">
                        
                        
                    </div>*@
                    <partial name="_FilmeResumo" for="@filmes"/>
                }
            }
        </div>
    </div>
    


